<h1>Hello, Blogger</h1>
<ol>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
    <li>
        <%= link_to article.title , article  %>
    </li>
    <%end%>
  <% end %>
</ol>
<%= link_to "New Article", new_article_path %>

